.vscode
.DS_Store
test.py
input/train_test.csv
input/test_test.csv
input/embeddings/GoogleNews-vectors-negative300/GoogleNews-vectors-negative300.bin
input/embeddings/paragram_300_sl999/paragram_300_sl999.txt
input/embeddings/wiki-news-300d-1M/wiki-news-300d-1M.vec
